@model projectMVC.viewModel.DrinksAndSeetCasher
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1> seets </h1>
<div class="container ">
    <div class="row">
        @foreach (var item in Model.Seets)
        {
            <div class="col-lg-3">
                @item.Number
                <button class="btn"> @item.Cost </button>

            </div>
        }
    </div>
</div>

<h1> Drinks </h1>
<div class="container ">
    <div class="row">
        @foreach (var item in Model.drinks)
        {
            <div class="col-lg-3">
                @item.Name
                <button class="btn"> @item.Sale </button>

            </div>
        }
    </div>
</div>