<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top">
    <a class="navbar-brand text-uppercase  " href="@Url.Action("Index" , "HomePage")"> free <span class="text-info"> sms</span> </a>
    <ul class="navbar-nav mr-auto">

        <li class="nav-item">
            <a class="nav-link text-uppercase" href="@Url.Action("Index" , "Employ")"> Employe </a>
        </li>

        <li class="nav-item">
            <a class="nav-link text-uppercase" href="@Url.Action("Index" , "Drink")"> Drink </a>
        </li>


        <li class="nav-item">
            <a class="nav-link text-uppercase" href="@Url.Action("Index" , "Casher")"> Casher </a>
        </li>

  



